<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="main">
    <div class="result">
    <% if (locals.fileLink != null) { %>
        <div>
            Your file is uploaded
            <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
        </div>
    </div>
   <% } %>
   <div class="input">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">File:</label>
        <input class="file-input" type="file" id="file" name="file" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">Share</button>
    </form>
    </div>
</div>
</body>
</html>